<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Pensioner</p>
            <p class="fst-italic">pensioner Details required </p>
        </div>
    </div>
</div>

<!-- Pensioner form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Aadhaar Number">
                </div>

                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>

                <div class="mb-2">
                    <input type="date" class="form-control" placeholder="Date of Birth">
                </div>

                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="PAN Number">
                </div>

                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Salary">
                </div>

                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Allowances">
                </div>

                <div class="mb-2">
                    <select class="form-control">

                        <option value="">Select Pension type</option>
                        <option value="Family">Family</option>
                        <option value="Self">Self</option>
                    </select>
                </div>

                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Bank Name">
                </div>

                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Account Number">
                </div>

                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select Bank type</option>
                        <option value="Public">Public</option>
                        <option value="Private">Private</option>
                    </select>
                </div>

                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Add">
                    <a class="btn btn-dark ms-2" routerLink = "/">Close</a>
                </div>

                
            </form>
        </div>
    </div>
</div>

