<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">PENSIONER DETAILS
                <a class="btn btn-danger btn-sm" routerLink ="/pensioner/add" >
                    <i class="fa fa-plus-circle"></i> New</a>
            </p>
            <p class="fst-italic">
                Please enter Aadhaar number to know pensioner detail.
            </p>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Search pensioner">

                            </div>
                            <div class="col">

                                <input type="submit" class="btn btn-outline-dark" value="Search">

                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Cards -->

<div class="container mt-4" >
    <div class="row">
        <div class="col-md-6">
            
            <div class="card list-group-item-danger shadow-lg">
                <div class="card-body">
                    <p class="h3 text-danger fw-bold align-center">Pensioner Information</p>

                    <div class="row ">
                        <ul class="list-group">
                            <li class="list-group-item">Aadhaar Number : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            <li class="list-group-item">Name           : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            <li class="list-group-item">Date of Birth  : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            <li class="list-group-item">PAN number     : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            <li class="list-group-item">Salary         : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            <li class="list-group-item">Allowances     : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            <li class="list-group-item">Pension type   : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            <li class="list-group-item">Bank           : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            <li class="list-group-item">Account Number : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            <li class="list-group-item">Bank type      : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                        </ul>
                    </div>



                </div>
            </div>
        </div>

        <div class="col-md-6">
            
            <div class="card list-group-item-danger shadow-lg">
                <div class="card-body">
                    <p class="h3 text-danger fw-bold align-center">Pension Detail</p>

                    <div class="row ">
                        <ul class="list-group">
                            <li class="list-group-item">Pension Amount: <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            <li class="list-group-item">Bank Charges   : <span class="fw-bold"> XXXXXXXXXXXXXX</span></li>
                            
                        </ul>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>


